@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200..700&display=swap');

.oswald-gen {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* asterisk wildcard selector to override default styles from browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* general style */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* generic project styles */
  color: #663e3e;
  font-family:'Lato', sans-serif;
}
/* Header */
header {
  background-color: lightcoral;
}
h1{
  font-family: 'Oswald', sans-serif;
}
/* Main content */
main {
  background-color: aquamarine;
  /* make main take up surplus space for footer to be pushed down */
  flex: 1 0 auto;
}
/* Footer */
footer {
  background-color: blueviolet;
}
